<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% load static %}
    <link
      href="{% static 'bootstrap/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'bootstrap/css/sb-admin-2.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
    />
    <title>Add Company</title>
  </head>
  <body id="page-top" style="background-color: #77c4d74d !important">
    {% csrf_token %}
    <div id="wrapper">
      {% include 'sidebar.html' %} {% include 'toast.html' %}
      <div class="container-fluid">
        <div class="card shadow mb-4 mt-5">
          <div class="card-header py-3" style="background-color: #04668b">
            <h6
              class="m-0 font-weight-bold text-white"
              style="font-family: 'Open Sans', sans-serif"
            >
              Create Company
            </h6>
          </div>
          <div class="card-body" style="font-family: 'Open Sans', sans-serif">
            <form method="post" action="{% url 'create_company' %}">
              {% csrf_token %} {{ form.as_p }}
              <div
                class="text-end"
                style="font-family: 'Open Sans', sans-serif"
              >
                <a class="btn btn-danger btn-sm" href="{% url 'company_list' %}"
                  >Cancel</a
                >
                <button
                  class="btn btn-primary btn-sm"
                  type="submit"
                  style="font-family: 'Open Sans', sans-serif"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/sb-admin-2.min.js' %}"></script>
  </body>
</html>
