<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department</title>
</head>
<style>
  .small-container {
  max-width: 300px; /* Adjust this value as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

</style>
<body>
    {% include 'navigation.html' %} {% include 'toast.html' %}
    <h3>Create Department</h3>
    <div class="small-container">
    <form method="post" action="{% url 'create_department' %}">
      {% csrf_token %} {{ form.as_p }}
      <div class="text-end">
        <a class="btn btn-danger btn-sm" href="{% url 'department_list' %}">Cancel</a>
        <button class="btn btn-primary btn-sm" type="submit">Submit</button>
      </div>
      </div>
    </form>
    <a href="{% url 'department_list' %}" class="btn mt-2 btn-secondary float-end m-5"
    >Back</a
  >
</body>
</html>