<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% load static %}
          <!-- Custom fonts for this template -->
          <link href="{% static 'bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
          <link href="{% static 'bootstrap/css/sb-admin-2.min.css' %}" rel="stylesheet" />
          <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
          
          <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
          
          <!-- DataTables CSS -->
          <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <title>Admin Fined Document List</title>
  </head>
 <body id="page-top">
{% include 'toast.html' %} {% csrf_token %}
      <!-- Page Wrapper -->
      <div id="wrapper">
        <!-- Sidebar -->
        {% include 'sidebar.html' %}
        <!-- End of Topbar -->
  
            <!-- Begin Page Content -->
            <div class="container-fluid">
  
              <!-- DataTales Example -->
              <div class="card shadow mb-2">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">
                    Fined Documents
                  </h6>
                </div>
                <div class="card-body">
          <table id="admin_fine" class="table table-sm">
            <thead class="bg-primary text-white">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Company</th>
                <th scope="col">Department</th>
                <th scope="col">Document Type</th>
                <th scope="col">Agency</th>
                <th scope="col">Document</th>
                <th scope="col">Renewed Date</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Uploaded By</th>
                <th scope="col">Receipt</th>
                <th scope="col">Penalty</th>
              </tr>
            </thead>
            <tbody>
              {% for file in fine_document %}
              <tr>
                <td class="small-cell">{{ forloop.counter }}</td>
                <td class="small-cell">{{ file.company_name }}</td>
                <td class="small-cell">{{ file.department_name }}</td>
                <td class="small-cell">{{ file.document_type }}</td>
                <td class="small-cell">{{ file.agency }}</td>
                <td class="small-cell">
                  <a href="{{ file.document }}" target="_blank">
                    <i
                      class="fas fa-file-alt pdf-icon"
                      style="font-size: 20px; color: #000"
                    ></i>
                  </a>
                </td >
                <td class="small-cell">{{ file.renewal_date }}</td>
                <td class="small-cell">{{ file.expiry_date }}</td>
                <td class="small-cell">{{ file.first_name }} {{ file.last_name }}</td>
                <td class="small-cell">
                    <a href="{{ file.receipt }}" target="_blank">
                      <i
                        class="fas fa-file-alt pdf-icon"
                        style="font-size: 20px; color: #000"
                      ></i>
                    </a>
                  </td>
                  <td class="small-cell">{{ file.fined }}</td>
                  {% endfor %}
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary float-end mr-4">Back</a>
  </div>
</div>

</div>
</div>
   
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'bootstrap/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'bootstrap/js/demo/datatables-demo.js' %}"></script>

    <script>
      $(document).ready(function () {
        $("#admin_fine").dataTable({
          lengthMenu: [5, 10, 25, 50, 75, 100],
        });
      });
    </script>
  </body>
</html>
