<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% load static %}
    <link
      href="{% static 'bootstrap/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'bootstrap/css/sb-admin-2.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
    />
    <title>TotalFined Document List</title>
  </head>
  <body id="page-top" style="background-color: #77c4d74d !important">
    {% include 'toast.html' %} {% csrf_token %}
    <div id="wrapper">
      {% include 'sidebar.html' %}
      <div class="container-fluid mt-5">
        <div class="card shadow mb-2">
          <div class="card-header py-3" style="background-color: #04668b">
            <div class="row">
              <div class="col">
                <h6
                  class="m-0 font-weight-bold text-white"
                  style="font-family: 'Open Sans', sans-serif"
                >
                  Documents with Penalty
                </h6>
              </div>
              <div class="col-auto">
                <div class="btn-group">
                  <label
                    class="mr-2 text-white"
                    style="font-family: 'Open Sans', sans-serif"
                    >Select Year:</label
                  >
                  <button
                    class="btn btn-primary btn-sm"
                    type="button"
                    style="border-radius: 2px"
                  >
                    {% if selected_year == 'all'%}
                    All{%else%}{{selected_year}}{%endif%}
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul
                    class="dropdown-menu"
                    style="font-family: 'Open Sans', sans-serif"
                  >
                    <li>
                      <a class="dropdown-item" href="?filter_year=all">All</a>
                    </li>
                    {% for year in unique_years %}
                    <li>
                      <a class="dropdown-item" href="?filter_year={{ year }}"
                        >{{ year }}</a
                      >
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button
                class="nav-link active"
                id="admin-total-document-tab"
                data-toggle="tab"
                href="#admin-total-document"
                role="tab"
                aria-controls="admin-total-document"
                aria-selected="true"
              >
                All Document
              </button>
              {% for company, files in company_files.items %}
              <button
                class="nav-link"
                id="{{ company|slugify }}-tab"
                data-toggle="tab"
                href="#{{ company|slugify }}"
                role="tab"
                aria-controls="{{ company|slugify }}"
                aria-selected="false"
              >
                {{ company }}
              </button>
              {% endfor %}
            </div>
          </nav>
          <div class="card-body">
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="admin-total-document"
                role="tabpanel"
                aria-labelledby="admin-total-document-tab"
              >
                <div class="table-responsive">
                  <table id="fine" class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col" style="white-space: nowrap">Company</th>
                        <th scope="col" style="white-space: nowrap">
                          Department
                        </th>
                        <th scope="col" style="white-space: nowrap">
                          Document Type
                        </th>
                        <th scope="col" style="white-space: nowrap">Agency</th>
                        <th scope="col" style="white-space: nowrap">
                          Document
                        </th>
                        <th scope="col" style="white-space: nowrap">
                          Renewed Date
                        </th>
                        <th scope="col" style="white-space: nowrap">
                          Expiry Date
                        </th>
                        <th scope="col" style="white-space: nowrap">
                          Uploaded By
                        </th>
                        <th scope="col" style="white-space: nowrap">Receipt</th>
                        <th scope="col" style="white-space: nowrap">Penalty</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for files in total_doc %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ files.company_name }}</td>
                        <td>{{ files.department_name }}</td>
                        <td>{{ files.document_type }}</td>
                        <td>{{ files.agency }}</td>
                        <td>
                          <a href="{{ files.document }}" target="_blank"
                            ><i
                              class="fas fa-file-alt pdf-icon"
                              style="font-size: 20px; color: #000"
                            ></i
                          ></a>
                        </td>
                        <td>{{ files.renewal_date }}</td>
                        <td>{{ files.expiry_date }}</td>
                        <td style="white-space: nowrap">
                          {{ files.first_name}} {{ files.last_name}}
                        </td>
                        <td>
                          <a href="{{ files.receipt }}" target="_blank"
                            ><i
                              class="fas fa-file-alt pdf-icon"
                              style="font-size: 20px; color: #000"
                            ></i
                          ></a>
                        </td>
                        <td>{{ files.fined }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

              {% for department, files in company_files.items %}
              <div
                class="tab-pane fade"
                id="{{ department|slugify }}"
                role="tabpanel"
                aria-labelledby="{{ department|slugify }}-tab"
              >
                <div class="table-responsive">
                  <table id="fines" class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col" style="white-space: nowrap">Company</th>
                        <th scope="col" style="white-space: nowrap">
                          Department
                        </th>
                        <th scope="col" style="white-space: nowrap">
                          Document Type
                        </th>
                        <th scope="col" style="white-space: nowrap">Agency</th>
                        <th scope="col" style="white-space: nowrap">
                          Document
                        </th>
                        <th scope="col" style="white-space: nowrap">
                          Renewed Date
                        </th>
                        <th scope="col" style="white-space: nowrap">
                          Expiry Date
                        </th>
                        <th scope="col" style="white-space: nowrap">
                          Uploaded By
                        </th>
                        <th scope="col" style="white-space: nowrap">Receipt</th>
                        <th scope="col" style="white-space: nowrap">Penalty</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for file in files %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ file.company_name }}</td>
                        <td>{{ file.department_name }}</td>
                        <td>{{ file.document_type }}</td>
                        <td>{{ file.agency }}</td>
                        <td>
                          <a href="{{ file.document }}" target="_blank"
                            ><i
                              class="fas fa-file-alt pdf-icon"
                              style="font-size: 20px; color: #000"
                            ></i
                          ></a>
                        </td>
                        <td>{{ file.renewal_date }}</td>
                        <td>{{ file.expiry_date }}</td>
                        <td>{{ file.first_name}} {{ file.last_name}}</td>
                        <td>
                          <a href="{{ file.receipt }}" target="_blank"
                            ><i
                              class="fas fa-file-alt pdf-icon"
                              style="font-size: 20px; color: #000"
                            ></i
                          ></a>
                        </td>
                        <td>{{ file.fined }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <a
          href="{% url 'dashboard' %}"
          class="btn btn-secondary float-end mr-4"
          style="font-family: 'Open Sans', sans-serif"
          >Back</a
        >
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/demo/datatables-demo.js' %}"></script>

    <script>
      $(document).ready(function () {
        $("#fine, #fines").dataTable({
          lengthMenu: [5, 10, 25, 50, 75, 100],
        });
      });
    </script>
  </body>
</html>
