<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_user.css' %}" />
    <title>Create User</title>
  </head>
</style>
  <body>
    {% include 'navigation.html' %} {% include 'toast.html' %}

    <div class="small-container mt-3">
      <form method="post" action="{% url 'create_user' %}">
      {% csrf_token %}{{form.as_p}}
      <div class="text-end">
        <a class="btn btn-danger btm-sm" href="{% url 'user_list' %}">Cancel</a>
        <button class="btn btn-secondary btm-sm " type="submit">Submit</button>
      </div>
      </form>
    </div>
  </body>
</html>
