<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link
      href="{% static 'bootstrap/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/sb-admin-2.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/sb-admin-2.min.css' %}"
    />
  </head>
<style>
      .card {
      display: flex;
      justify-content: center;
      margin: auto;
      background-color:  rgba(231, 231, 231, 0.4);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 

  }  
    .card__name {
      margin: 10px;
      text-align: center;
    }
    .legend-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
</style>
  <body id="page-top"  >
    
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include 'sidebar.html' %}  {% include 'toast.html' %} {% csrf_token %}
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >  
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>
            <!-- Content Row -->
            <div class="row">
              <!-- Valid  Card -->
              
              <div class="col-xl-3 col-md-3 mb-4 mx-auto " >
                {% if not user.is_staff %}
                <a href="{% url 'file_documents_with_receipts' %}" class="custom-modal-button" role="button" aria-pressed="true" style="text-decoration: none">
                  {% endif %}
                  {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'admin_valid_list' %}" class="custom-modal-button" role="button" aria-pressed="true" style="text-decoration: none">
                  {% endif %} 
                  <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body" >
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Valid Documents
                          </div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800 ">
                            {% if user.is_authenticated and user.is_staff %}
                            <span>{{ admin_count1 }}</span>
                            <div
                            class="text-xs font-weight-bold text-uppercase" 
                          >
                            {% for company_name, agency_counts in admin_agency1.items %}
                                <span>{{ company_name }}</span>
                                <ul>
                                  {% for agency, count in agency_counts.items %}
                                    <li>{{ agency }}: {{ count }}</li>
                                  {% endfor %}
                                </ul>
                              {% endfor %}
                            </div>
                            {% endif %} 
                            {% if not user.is_staff %}
                            <span>{{ num_valid_files }}</span>
                            {% endif %}

                            <div
                            class="text-xs font-weight-bold text-uppercase"
                          >
                          {% for agency, count in agency_counts1.items %}
                          <div>{{ agency }}: {{ count }}</div>
                        {% endfor %}
                          </div>

                          </div>
                        </div>
                        <div class="col-auto">
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </a>
              </div>

              <!-- Renew Card -->
              <div class="col-xl-3 col-md-6 mb-4 mx-auto">
                {% if not user.is_staff %}
                <a href="{% url 'get_renew_file_list' %}" class="custom-modal-button" role="button" aria-pressed="true" style="text-decoration: none">
                  {% endif %}  {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'admin_renew_list' %}" class="custom-modal-button" role="button" aria-pressed="true" style="text-decoration: none">
                  {% endif %}
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                        >
                          For Renewal Documents
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          {% if user.is_authenticated and user.is_staff %}
                          <span>{{ admin_count2 }}</span>
                          <div class="text-xs font-weight-bold text-uppercase">
                            {% for company_name, agency_counts in admin_agency2.items %}
                                <span>{{ company_name }}</span>
                                <ul>
                                  {% for agency, count in agency_counts.items %}
                                    <li>{{ agency }}: {{ count }}</li>
                                  {% endfor %}
                                </ul>
                              {% endfor %}
                            </div>
                            {% endif %} 
                            {% if not user.is_staff %}
                            <span>{{ num_renew_files }}</span>
                            {% endif %} 
                            <div
                          class="text-xs font-weight-bold text-uppercase"
                        >
                        {% for agency, count in agency_counts3.items %}
                        <div>{{ agency }}: {{ count }}</div>
                      {% endfor %}
                        </div>
                            
                        </div>
                      </div>
                      <div class="col-auto">
                      </div>
                    </div>
                  </div>
                </div>
              </a>
                </a>
              </div>

              <!-- Expired Card -->
              <div class="col-xl-3 col-md-3 mb-4 mx-auto">
              {% if not user.is_staff %}   
              <a href="{% url 'get_expired_file_list' %}" class="custom-modal-button" role="button" aria-pressed="true" style="text-decoration: none">
                {% endif %}  {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'admin_expired_list' %}" class="custom-modal-button" role="button" aria-pressed="true" style="text-decoration: none">
                  {% endif %} 
                <div class="card border-left-danger shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-danger text-uppercase mb-1"
                        >
                          Expired Documents
                        </div>
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div
                              class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                            >
                            {% if user.is_authenticated and user.is_staff %}
                            <span>{{ admin_count3 }}</span>
                            <div class="text-xs font-weight-bold text-uppercase">
                              {% for company_name, agency_counts in admin_agency3.items %}
                                  <span>{{ company_name }}</span>
                                  <ul>
                                    {% for agency, count in agency_counts.items %}
                                      <li>{{ agency }}: {{ count }}</li>
                                    {% endfor %}
                                  </ul>
                                {% endfor %}
                              </div>
                            {% endif %} 
                            {% if not user.is_staff %}
                            <span>{{ num_expired_files }}</span>
                            {% endif %} 
                            <div
                          class="text-xs font-weight-bold text-uppercase"
                        >
                        {% for agency, count in agency_counts2.items %}
                        <div>{{ agency }}: {{ count }}</div>
                      {% endfor %}
                        </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                      </div>
                    </div>
                  </div>
                </div>
            </a>
          </a>
        </div>

         <!-- Fined Card -->
         <div class="col-xl-3 col-md-6 mb-4 mx-auto">
          {% if not user.is_staff %}
          <a href="{% url 'receipt_valid_documents' %}" class="custom-modal-button" role="button" aria-pressed="true" style="text-decoration: none">
            {% endif %}  {% if user.is_authenticated and user.is_staff %}
          <a href="{% url 'admin_receipt_documents' %}" class="custom-modal-button" role="button" aria-pressed="true" style="text-decoration: none">
            {% endif %}
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                  >
                  Documents with Penalty
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {% if user.is_authenticated and user.is_staff %}
                    <span>{{ admin_count4 }}</span>
                    <div class="text-xs font-weight-bold text-uppercase">
                      {% for company_name, agency_counts in admin_agency4.items %}
                          <span>{{ company_name }}</span>
                          <ul>
                            {% for agency, count in agency_counts.items %}
                              <li>{{ agency }}: {{ count }}</li>
                            {% endfor %}
                          </ul>
                        {% endfor %}
                      </div>
                      {% endif %} 
                      {% if not user.is_staff %}
                      <span>{{ num_penalty_files }}</span>
                      {% endif %} 
                      <div
                    class="text-xs font-weight-bold text-uppercase"
                  >
                  {% for agency, count in agency_counts4.items %}
                  <div>{{ agency }}: {{ count }}</div>
                {% endfor %}
                  </div>
                      
                  </div>
                </div>
                <div class="col-auto">
                </div>
              </div>
            </div>
          </div>
        </a>
          </a>
        </div>


      </div>
         
            <div class="row">
              <div class="col-xl-7 col-lg-7">
                  <div class="card shadow mb-4">
                      <!-- Card Header - Dropdown -->
                      <div
                          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                          <h6 class="m-0 font-weight-bold text-primary">Yearly Penalties</h6>
                      </div>
                      <!-- Card Body -->
                      <div class="card-body" >
                          <div class="chart-area" >
                            {% if not user.is_staff %}
                              <canvas id="myChart"></canvas>
                              {% endif %} 
                              {% if user.is_authenticated and user.is_staff %}
                              <canvas id="bar" style="height: 200px;"></canvas>
                              {% endif %} 
                          </div>
                      </div>
                  </div>
              </div>

            <!-- Pie Chart -->
              <div class="col-xl-5 col-lg-5">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        {% if user.is_authenticated and user.is_staff %}
                        <h6 class="m-0 font-weight-bold text-primary">Total Breakdown Per Company</h6>
                        {% endif %} 
                        {% if not user.is_staff %}
                        <h6 class="m-0 font-weight-bold text-primary">Total Breakdown Per Department</h6>
                        {% endif %} 
                    </div>
                    <div class="card-body">
                      <div class="chart-pie pt-4 pb-2" style="position: relative;">
                        {% if user.is_authenticated and user.is_staff %}
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <canvas id="pie" style="width: 200px; height: 250px; max-height: 300px;"></canvas>
                            </div>
                            <div class=" mt-5" style="text-align: center;">
                                <h6 style="font-size: 14px;">Legend</h6>
                                <ul class="legend-list" id="legendList" style="list-style-type: none; padding: 0; font-size: 12px;"></ul>
                            </div>
                        </div>
                        {% endif %} 
                        {% if not user.is_staff %}
                        <canvas id="user_pie" style="width: 100%; height: auto; max-height: 300px;"></canvas>
                        {% endif %} 
                    </div>
                    </div>
                </div>
              </div>

          </div>
          </div>
        </div>
        <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
   
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/pie.js' %}"></script>
        <script src="{% static 'js/bar.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'bootstrap/js/sb-admin-2.min.js' %}"></script>
    <!-- Page level plugins -->
    <script src="{% static 'bootstrap/vendor/chart.js/Chart.min.js' %}"></script>
    
    

  </body>
</html>
