<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <style>
    body {
      background-color: #F1FAFE;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
     
    }
    .card {
      display: flex;
      justify-content: center;
      margin: auto;
      width: 200px;
      height: 150px;
      background-color: #BEECF9;
  }
    
    .card__name {
      margin: 10px;
      text-align: center;
    }

  .dashboard-content .card {
    background-color: #BEECF9;
  }
    .card__number {
      text-align: center;
      font-size: 24px;
    }
    .custom-create_file {
      background: linear-gradient(to bottom, #d1e8a1, #9acd32, #7ea829);
    }

    @media screen and (max-width: 768px) {
      .nav ul {
        flex-direction: column;
        text-align: center;
      }

      .nav li {
        margin: 10px 0;
      }

      .card {
        max-width: 100%;
      }
    }
    .dashboard-content  .pie-chart-card  {
      background: linear-gradient(
    to bottom,
    #cdf0f7 1%,
    #ffffff 15%,
    #ffffff 89%,
    #cdf0f7 100%
  );
  }
    .pie-chart-card {
      width: 250px;
      height: 200px;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 2px;
}
  </style>
  <body style="background-color: #F1FAFE;">
    {% csrf_token %} {% include 'navigation.html' %} {% include 'toast.html' %}

    <main class="dashboard-content">
      
      {% if not user.is_staff %}
      <div class="add-button m-4">
        <a
          href="{% url 'create_new_file_form' %}"
          class="btn btn-secondary btm-sm"
          role="button"
          aria-pressed="true"
        >
          <b> Add Document</b>
        </a>
      </div>
      {% endif %}
      <div class="d-flex align-items-center">
        {% if user.is_authenticated and user.is_staff %}
        <div class="add-button m-3">
          <a
            href="{% url 'users_logs' %}"
            class="btn add-button btn-.text-body-tertiary"
            role="button"
            aria-pressed="true"
          >
            <img
              src="{% static 'img/log1.png' %}"
              alt=""
              style="font-size: 30px; color: #000; width: 30px; height: 30px"
            />
          </a>
        </div>
      </div>
      {% endif %}
      <div class="container">
        <div class="row">
          {% if user.is_authenticated and user.is_staff %}
          <!-- Admin Section -->
          <div class="col-md-3">
            <a
                href="{% url 'admin_valid' %}"
                class="custom-modal-button"
                role="button"
                aria-pressed="true"
                style="text-decoration: none"
                >
                <div class="card">
                  <div class="card__name">
                    <p>Valid Documents</p>
                  </div>
                  <div class="card__number">
                    <h1><span id="valid"></span></h1>
                  </div>
                </div>
          </a>
          </div>
          <div class="col-md-3">
            <a
                href="{% url 'admin_to_be_renew' %}"
                class="custom-modal-button"
                role="button"
                aria-pressed="true"
                style="text-decoration: none"
                >
                <div class="card">
                  <div class="card__name">
                    <p>For Renewal Documents</p>
                  </div>
                  <div class="card__number">
                    <h1><span id="renew"></span></h1>
                  </div>
                </div>
          </a>
          </div>

          <div class="col-md-3">
            <a
                href="{% url 'admin_expired' %}"
                class="custom-modal-button"
                role="button"
                aria-pressed="true"
                style="text-decoration: none"
                >
                <div class="card">
                  <div class="card__name">
                    <p>Expired Documents</p>
                  </div>
                  <div class="card__number">
                    <h1><span id="expired"></span><h1>
                  </div>
                </div>
          </a>
          </div>
          <div class="col-md-3">
            <div class="pie-chart-card">
              <h5>Document Statistics</h5>
              <canvas id="barChart"></canvas>
            </div>
          </div>
          {% endif %} {% if not user.is_staff %}

          <!-- user section-->
          <div class="col-md-3">
            <a
                href="{% url 'get_valid_file_list' %}"
                class="custom-modal-button"
                role="button"
                aria-pressed="true"
                style="text-decoration: none"
              >

              <div class="card">
                <div class="card__name">
                  <p>Valid Documents</p>
                </div>
                <div class="card__number">
                  <h1>{{ num_valid_files }}</h1>
                </div>
              </div>
          </a>
          </div>
          <div class="col-md-3">
            <a
            href="{% url 'get_renew_file_list' %}"
            class="custom-modal-button"
            role="button"
            aria-pressed="true"
            style="text-decoration: none"
          >
          <div class="card">
            <div class="card__name">
              <p>For Renewal Documents</p>
            </div>
            <div class="card__number">
              <h1>{{ num_renew_files }}</h1>
            </div>
          </div>
          </a>
          </div>
          <div class="col-md-3">
            <a
                href="{% url 'get_expired_file_list' %}"
                class="custom-modal-button"
                role="button"
                aria-pressed="true"
                style="text-decoration: none"
              >

              <div class="card">
                <div class="card__name">
                  <p>Expired Documents</p>
                </div>
                <div class="card__number">
                  <h1>{{ num_expired_files }}</h1>
                </div>
              </div>
          </a>
          </div>
          <div class="col-md-3">
            <div class="pie-chart-card">
              <h5>Document Statistics</h5>
              <canvas id="myCanvas"></canvas>
            </div>
          </div>
         
          {% endif %}
          <script src="{% static 'js/pie.js' %}"></script>
          <script src="{% static 'js/admin_api.js' %}"></script>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        </div>
      </div>
    </main>
          <script>
            // Get the canvas element
            var ctx = document.getElementById('myCanvas').getContext('2d');
        
            // Define data
            var data = {
              labels: ['Valid', 'For Renewal', 'Expired'],
              datasets: [{
                label: 'Documents',
                data: [ "{{ num_valid_files }}", "{{ num_renew_files }}","{{ num_expired_files }}", ],
                backgroundColor: [
                 
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  
                ],
                borderColor: [
                  
                  'rgba(54, 162, 235, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(255, 99, 132, 1)',
                  
                ],
                borderWidth: 1
              }]
            };
        
            // Create the bar chart
            var barChart = new Chart(ctx, {
              type: 'bar',
              data: data,
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>
  </body>
</html>
