<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/logs.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Log</title>
    <style>
      .log-container {
        max-height: 800px;
        overflow-y: auto;
      }
      .log-item {
        margin-bottom: 10px;
      }

      .container {
        margin: 0 auto;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    {% csrf_token %} {% include 'navigation.html' %}
    <div class="container mt-5">
      <div class="log-container">
        <h4>Recent Activity:</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Activity</th>
              <th scope="col">Date/Time</th>
            </tr>
          </thead>
          <tbody>
            {% for log in logs %}
            <tr>
              <td>
                <p>
                  User {{ log.user.first_name }} {{ log.user.last_name }}
                  {{log.action}} a {{log.file.document_type }} document
                </p>
              </td>
              <td>{{log.timestamp }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <a
      href="{% url 'dashboard' %}"
      class="btn mt-2 btn-secondary float-end mt-3 m-5"
      >Back</a
    >
  </body>
</html>
