<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{% static 'bootstrap/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'bootstrap/css/sb-admin-2.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
    />
    <title>Expired Person Documents</title>
  </head>
  <style>
    .th td {
      overflow-x: auto;
      overflow-y: auto;
    }
  </style>
  <body id="page-top" style="background-color: #77c4d74d !important">
    {% include 'toast.html' %} {% csrf_token %}

    <div id="wrapper">
      {% include 'sidebar.html' %}
      <div class="container-fluid overflow-auto mt-5">
        <div class="card shadow mb-4 overflow-auto">
          <div class="card-header py-3" style="background-color: #04668b">
            <h6
              class="m-0 font-weight-bold text-white"
              style="font-family: 'Open Sans', sans-serif"
            >
              Expired Documents
            </h6>
          </div>
          <div class="card-body overflow-auto">
            <table
              id="valid"
              class="table table-sm"
              style="font-family: 'Open Sans', sans-serif"
            >
              <thead class="bg-primary text-white">
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col" style="white-space: nowrap">FullName</th>
                  <th scope="col" style="white-space: nowrap">Document Type</th>
                  <th scope="col" style="white-space: nowrap">Company</th>
                  <th scope="col" style="white-space: nowrap">Agency</th>
                  <th scope="col" style="white-space: nowrap">Document</th>
                  <th scope="col" style="white-space: nowrap">Renewed Date</th>
                  <th scope="col" style="white-space: nowrap">Expiry Date</th>
                  <th scope="col" style="white-space: nowrap">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for person_document in person_expired_file %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ person_document.person_fullname }}</td>
                  <td>{{ person_document.document_type }}</td>
                  <td>{{ person_document.company}}</td>
                  <td>{{ person_document.agency }}</td>
                  <td>
                    <a href="{{ person_document.upload_file }}" target="_blank">
                      <i
                        class="fas fa-file-alt pdf-icon"
                        style="font-size: 20px; color: #000"
                      ></i>
                    </a>
                  </td>

                  <td>{{ person_document.renewal_date }}</td>
                  <td>{{ person_document.expiry_date }}</td>
                  <td>
                    <div
                      class="modal fade"
                      id="renewConfirmationModal_{{ person_document.id }}"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="renewConfirmationModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5
                              class="modal-title"
                              id="renewConfirmationModalLabel"
                            >
                              "This document has been renewed after the expiry
                              date, is there a penalty for renewal?"
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-footer">
                            <a
                              href="{% url 'create_person_receipt' document_id=person_document.id %}"
                              class="btn btn-primary"
                              >Yes</a
                            >
                            <a
                              href="{% url 'renew_person_documents' document_id=person_document.id %}"
                              class="btn btn-primary"
                              >No</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <button
                      type="button"
                      class="btn btn-primary btn-sm"
                      role="button"
                      aria-pressed="true"
                      data-toggle="modal"
                      data-target="#renewConfirmationModal_{{ person_document.id }}"
                      data-file-id="{{ person_document.id }}"
                    >
                      Renew
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <a
        href="{% url 'dashboard' %}"
        class="btn btn-secondary float-end mr-4"
        style="font-family: 'Open Sans', sans-serif"
        >Back</a
      >
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/demo/datatables-demo.js' %}"></script>
    <script>
      $(document).ready(function () {
        $("#valid").dataTable({
          lengthMenu: [5, 10, 25, 50, 75, 100],
        });
      });
    </script>
  </body>
</html>
