<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample</title>
    <!-- Add Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% for file in sample %}
    <a
      class="nav-link"
      id="{{ file.department_name }}-tab"
      data-toggle="tab"
      href="#{{ file.department_name }}"
      role="tab"
      aria-controls="{{ file.department_name|slugify }}"
      aria-selected="false"
    >
      {{ file.department_name }}
    </a>
    {% endfor %}
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="all-expired-file-tab"
          data-toggle="tab"
          href="#all-expired-file"
          role="tab"
          aria-controls="all-expired-file"
          aria-selected="true"
        >
          All Expired File
        </button>
        {% for file in sample %}
        <button
          class="nav-link"
          id="{{ file.department_name|slugify }}-tab"
          data-toggle="tab"
          href="#{{ file.department_name|slugify }}"
          role="tab"
          aria-controls="{{ file.department_name|slugify }}"
          aria-selected="false"
        >
          {{ file.department_name }}
        </button>
        {% endfor %}
      </div>
    </nav>

    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="all-expired-file"
        role="tabpanel"
        aria-labelledby="all-expired-file-tab"
      >
        <p>Table for All Expired File</p>
      </div>
      {% for department, files in department_files.items %}
      <div
        class="tab-pane fade"
        id="{{ department|slugify }}"
        role="tabpanel"
        aria-labelledby="{{ department|slugify }}-tab"
      >
        <p>Table for {{ department }}</p>
        <table id="fine" class="table table-sm">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Company</th>
              <th scope="col">Department</th>
              <th scope="col">Document Type</th>
              <th scope="col">Agency</th>
              <th scope="col">Document</th>
              <th scope="col">Renewed Date</th>
              <th scope="col">Expiry Date</th>
              <th scope="col">Receipt</th>
              <th scope="col">Penalty</th>
            </tr>
          </thead>
          <tbody>
            {% for file in files %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ file.company_name }}</td>
              <td>{{ file.department_name }}</td>
              <td>{{ file.document_type }}</td>
              <td>{{ file.agency }}</td>
              <td>
                <a href="{{ file.document }}" target="_blank">
                  <i
                    class="fas fa-file-alt pdf-icon"
                    style="font-size: 20px; color: #000"
                  ></i>
                </a>
              </td>
              <td>{{ file.renewal_date }}</td>
              <td>{{ file.expiry_date }}</td>
              <td>
                <a href="{{ file.receipt }}" target="_blank">
                  <i
                    class="fas fa-file-alt pdf-icon"
                    style="font-size: 20px; color: #000"
                  ></i>
                </a>
              </td>
              <td>{{ file.fined }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-..."
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
