<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link
      href="{% static 'bootstrap/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="{% static 'bootstrap/css/sb-admin-2.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/sb-admin-2.min.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
              
    <style>
    
.navbar {
  background-color:  #f9fafb; 
  }
  .navbar-nav{
    background-color:  #04668b; 
    font-size: 18px; 
  }
  </style>

  </head>

  <body >
      <ul
        class="navbar-nav sidebar sidebar-dark accordion" style="font-family: 'Open Sans', sans-serif;"
        id="accordionSidebar"
      >
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href=""
        >
        <img src="{% static 'img/PLEManagement.png' %}" style="width: 100px; height: 100px;">
        
        </a>
        <hr class="sidebar-divider my-0" />

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
        </li>
        {% if user.is_authenticated and user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'company_list' %}">
            <i class="fas fa-fw fa-building"></i>
            <span>Company</span></a
          >
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="{% url 'department_list' %}">
            <i class="fas fa-fw fa-door-open"></i>
            <span>Department</span></a
          >
          <!-- Nav Item - Charts -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_list' %}">
              <i class="fas fa-fw fa-users"></i>
              <span>User Management</span></a
            >
          </li>
  
        </li>
        {% endif %}
        {% if not user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_new_file_form' %}">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Business Permit and License</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'person_documents' %}">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Professional License and Permit</span></a
          >
        </li>
        {% endif %}
        <li class="nav-item">
          {% if not user.is_staff %}
          <a class="nav-link" href=" {% url 'user_logs' %}">
            {% endif %}
            {% if user.is_authenticated and user.is_staff %}
          <a class="nav-link" href="{% url 'admin_logs' %}">
            {% endif %}
            <i class="fas fa-fw fa-box-open"></i>
            <span>Business User Logs</span></a
          >
        
        </li>

        <hr class="sidebar-divider d-none d-md-block" />


        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>

      <div id="content-wrapper" class="d-flex flex-column" style="background-color: #77C4D74D;">
        <div id="content">

          <nav
            class="navbar navbar-expand navbar-light topbar static-top" style="box-shadow: 0 0 2px  #001942;"
          >
          {% if request.path == '/dashboard/' %}
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="business-tab" data-toggle="tab" href="#business-content" role="tab" aria-controls="business-content" aria-selected="true" style="background-color: #f9fafb; font-family: 'Open Sans', sans-serif;">
                      Business Permit and Licenses
                  </button>
                  <button class="nav-link" id="professional-tab" data-toggle="tab" href="#professional-content" role="tab" aria-controls="professional-content" aria-selected="false" style="background-color: #f9fafb; font-family: 'Open Sans', sans-serif;">
                      Professional Licenses and Permit
                  </button>
              </div>
          {% endif %}
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <ul class="navbar-nav ml-auto" style="background-color: #f9fafb;">
              

              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav dropdown-toggle"
                  href="{% url 'logout_user' %}"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-user" style="color: gray;"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a
                    class="dropdown-item"
                    href="{% url 'logout_user' %}"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-dark"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>

            <div
            class="modal fade"
            id="logoutModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
            style="font-family: 'Open Sans', sans-serif;"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button
                    class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true"></span>
                  </button>
                </div>
                <div class="modal-body">
                  Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                  <button
                    class="btn btn-secondary"
                    type="button"
                    data-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <a class="btn btn-primary" href="{% url 'logout_user' %}">Logout</a>
                </div>
              </div>
            </div>
          </div>
  </body> 
</html>