<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast</title>
  </head>
  <style>
    .messages {
    list-style-type: none;
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 250px;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.success {
    background-color: #028745;
}

.info {
    background-color: #007bff;
}

.warning {
    background-color: #ffc107;
}

.error {
    background-color: #dc3545;
}

  </style>
  <body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

  </body>
  <script>
    setTimeout(function() {
        document.querySelectorAll('.messages li').forEach(function(element) {
            element.remove();
        });
    }, 5000);
</script>
</html>
