<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% load static %}
          <!-- Custom fonts for this template -->
          <link href="{% static 'bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
          <link href="{% static 'bootstrap/css/sb-admin-2.min.css' %}" rel="stylesheet" />
          <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
          
          <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
          
          <!-- DataTables CSS -->
          <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <title>To Be Renewed File List</title>
  </head>
 <body id="page-top"  style="background-color: #77c4d74d !important">
{% include 'toast.html' %} {% csrf_token %}
      <div id="wrapper">
        {% include 'sidebar.html' %}
            <div class="container-fluid mt-5">
              <div class="card shadow mb-4">
                <div class="card-header py-3" style="background-color: #04668b">
                  <h6 class="m-0 font-weight-bold text-white" style="font-family: 'Open Sans', sans-serif;">
                    Valid Documents
                  </h6>
                </div>
                <div class="card-body overflow-auto">
          <table id="valid" class="table table-sm " style="font-family: 'Open Sans', sans-serif;">
            <thead class="bg-primary text-white table-sm">
              <tr>
                <th scope="col">No.</th>
                <th scope="col" style="white-space: nowrap">Company</th>
                <th scope="col" style="white-space: nowrap">Department</th>
                <th scope="col" style="white-space: nowrap">Document Type</th>
                <th scope="col" style="white-space: nowrap">Agency</th>
                <th scope="col" style="white-space: nowrap">Document Scanned Copy</th>
                <th scope="col" style="white-space: nowrap">Renewed Date</th>
                <th scope="col" style="white-space: nowrap">Expiry Date</th>
                <th scope="col" style="white-space: nowrap">Penalty</th>
                <th scope="col" style="white-space: nowrap">Penalty Receipt</th>
              </tr>
            </thead>
            <tbody>
              {% for file_document in file_documents_with_receipts %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{file_document.company.company_name }}</td>
                <td>{{ file_document.department_name.department_name }}</td>
                <td>{{ file_document.document_type }}</td>
                <td>{{ file_document.agency }}</td>
                <td>
                  <a href="{{ file_document.upload_file.url }}" target="_blank">
                    <i
                      class="fas fa-file-alt pdf-icon"
                      style="font-size: 20px; color: #000"
                    ></i>
                  </a>
                </td>
                <td>{{ file_document.renewal_date }}</td>
                <td>{{ file_document.expiry_date }}</td>
                {% for receipt in file_document.receipt_set.all %}
                <td>{{ receipt.fined }}</td>
                    <td> <a href="{{  receipt.receipt.url }}" target="_blank">
                      <i
                        class="fas fa-file-alt pdf-icon"
                        style="font-size: 20px; color: #000"
                      ></i>
                    </a></td>
                  
                {% endfor %} {% if not file_document.receipt_set.all %}
                   <td> <strong>None</strong></td>
                   <td> <strong>None</strong></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary float-end mr-4" style="font-family: 'Open Sans', sans-serif;">Back</a>
  </div>
</div>

</div>
</div>
   
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'bootstrap/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'bootstrap/js/demo/datatables-demo.js' %}"></script>

    <script>
      $(document).ready(function () {
        $("#valid").dataTable({
          lengthMenu: [5, 10, 25, 50, 75, 100],
        });
      });
    </script>
  </body>
</html>
