.small-container {
  max-width: 400px; /* Adjust this value as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(2, 1, 1, 0.1);
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
