.custom-container {
  background-color: #ffffff !important;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px;
  border-style: solid;
  border-color: #eeecec;
  max-width: 100%; /* Set a maximum width */
  margin: 0 auto; /* Center the container */
}

.custom-edit-user {
  background: linear-gradient(to bottom, #d1e8a1, #9acd32, #7ea829);
}
